body {
	background-color: rgb(160, 160, 160);
	color: rgb(255, 255, 255);
	font-family: Calibri, serif;
	text-align: center;
	font-size: 16px;
	text-decoration: none;
}

h1{
	font-size: 32px;
}
	
h2{
	font-size: 24px;
}

img{
	outline: ridge;
}

a{
	text-decoration: none;
	color: white;
	font-weight: bold; 
}

a:hover {
	font-weight:lighter;
}

.main-container

.card-white{ 
	background-color: rgb(100, 100, 100);
	padding: 50px;
	box-shadow: 10px 12px 17px rgba(255,255,254.9,0.18);
	border-radius: 0px;
	margin: 19px 30px;
	text-align: center;
	border-color: rgb(255,255,255);
	outline: ridge;
 }

 .liste{
 	list-style: none;
 	font-size: 20px;
 	list-style-position: center;
 	padding-left: 0px;

 }

 .liste li{
 	display: inline;
 	padding: 6px;
 }


@media (max-width: 740px){
	.main-container{
		width:320px;
	}
}

@media(max-width: 460px){
	.main-container{
		width:320px;
	}
}

#introduction p{
	margin-bottom: 30px;
}





